@forward './globals/shadcn.scss';
@forward './globals/base.scss';

.bg-coffee {
    background-image: url('/realistic-coffee-background-with-drawings_157027-1112.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splashScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.splashScreen img {
    width: 200px; /* Initial width, adjust as needed */
    height: auto; /* Maintain aspect ratio */
    animation: splashAnimation 2s ease-in-out; /* Adjust duration as needed */
}

@keyframes splashAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(0.1);
    }
}